.barcharts-container {
  display: flex;
  background-color: #161625;
  min-height: 100vh;

  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .barcharts-container {
    display: flex;
    justify-content: flex-start;

    flex-direction: column;

    margin-bottom: 20px;
  }
}

.barChart-app-container {
  display: flex;
  flex-direction: column;

  padding: 10px;
}

@media screen and (max-width: 768px) {
  .barChart-app-container {
    padding: 10px;
  }
}

.charts {
  width: 1146px;
  height: 328px;

  display: flex;

  flex-direction: column;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .charts {
    width: 621px;
    height: 231px;
    left: 24px;
    right: 24px;
    overflow: auto;
    top: 1282px;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
}

.confirmed-background {
  background-color: #331427;
}
.active-background {
  background-color: #132240;
}
.recovered-background {
  background-color: #182829;
}
.deceased-background {
  background-color: #1c1c2b;
}
.tested-background {
  background-color: #230f41;
}

.charts-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #cbd5e1;
}

@media screen and (max-width: 768px) {
  .charts-title {
    width: 214px;
    height: 32px;
    left: 73px;
    top: 1218px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: #cbd5e1;
  }
}

.barchart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-wrapper {
  padding: 5px;
}

.products-details-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bar-graph-container {
  display: flex;
  background-color: #161625;

  flex-direction: column;
}
@media screen and(max-width:768px) {
  .bar-graph-container {
    width: 307px;
    height: 130px;
    left: 26px;
    top: 1040px;
  }
}
.failure-graph-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e2e8f0;
  font-family: Roboto;
}
.failed-img {
  height: 50px;
  width: 150px;
}
.failure-graph-text {
  color: #94a3b8;
}
.failure-heading {
  color: #cbd5e1;
}
.failure-button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 40px;
  height: 24px;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
}
.covid-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmed-bar-color {
  background-color: #9a0e31;
}
.recovered-bar-color {
  background-color: '#28a745';
}
.active-bar-color {
  color: '#007bff';
}
.deceased-bar-color {
  color: '#6c757d';
}

.failure-button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 50px;
  height: 24px;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px;
  background-color: blue;
  color: #ffffff;
  border-radius: 6px;
}
