.total-cases-card-container {
  display: flex;
  font-family: 'Roboto';
  margin-top: 112px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.confirmed-image {
  height: 40px;
  width: 40px;
  border: 1px solid #ff073a;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmed-container {
  color: #ff073a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 142px;
}

@media screen and (max-width: 768px) {
  .confirmed-container {
    width: 40%;
  }
}

.active-container {
  color: #007bff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 142px;
}
@media screen and (max-width: 768px) {
  .active-container {
    width: 40%;
  }
}

.recovered-container {
  color: #28a745;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 142px;
}
@media screen and (max-width: 768px) {
  .recovered-container {
    width: 40%;
  }
}

.deceased-container {
  color: #6c757d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 142px;
}
@media screen and (max-width: 768px) {
  .deceased-container {
    width: 40%;
  }
}
